@import 'common/common';
@import 'common/mixin';

#app {
    padding: 10px;
    position: relative;
    @include login-bg;
}

.m-forget {
    padding-top: 50vw;
    .u-forget ::-webkit-input-placeholder {
        color: #fff;
    }
    .u-forget input {
        @include login-input;
    }
    button {
        @include login-btn;
    }
}

.m-header {
    @include m-header;
    .u-back {
        @include u-back;
    }
    .u-title {
        @include u-title;
        width: 89vw;
        text-indent: -11vw;
    }
}