@import 'common/common';
@import 'common/mixin';

#app {
    padding: 10px;
    position: relative;
}

.m-header {
    @include m-header;
    background-color: #1e82d0;
    .u-back {
        @include u-back;
    }
    .u-title {
        @include u-title;
        width: 78vw;
    }
    .u-notice {
        @include u-notice;
        .ntc-num {
            @include ntc-num;
        }
    }
}

.cont {
    margin-left: -10px;
    margin-top: 50px;
    width: 100vw;
    font-size: 1.4rem;
    padding-bottom: 71px;
    .lists {
        background-color: #f5f5f5;
        .bar {
            height: 10px;
            width: 100%;
        }
        .list {
            padding: 5px 15px;
            background-color: #fff;
            height: 80px;
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            color: #1c1c1c;
            .unit {
                width: 50%;
                height: 30px;
                line-height: 30px;
                .title {
                    font-weight: bold;
                }
                .text {
                    color: #666;
                }
            }
            .unitbtn {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .btn {
                    height: 14px;
                    line-height: 14px;
                    border-width: 1px;
                    padding: 7px 5px;
                    text-align: center;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 4px;
                }
                .addrecord {
                    color: #1e82d0;
                    border-color: #1e82d0;
                    margin-right: 10px;
                }
                .punch {
                    color: #ff9a38;
                    border-color: #ff9a38;
                    width: 54px;
                }
                .punchok {
                    color: #999;
                    border-color: #999;
                    width: 54px;
                }
            }
            .unit-h {
                width: 100%;
                height: 40px;
                line-height: 40px;
                color: #333;
                .hidden {
                    width: 80%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    float: left;
                }
                .title {
                    font-size: 1.6rem;
                }
                .icon {
                    float: left;
                    height: 100%;
                    width: 20px;
                    background: url('../image/location.png') no-repeat;
                    background-size: 70%;
                    background-position: left 50%;
                }
                .address {
                    color: #666;
                    display: block;
                    width: 60vw;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .time {
                    color: #666;
                }
                .text {
                    color: #666;
                }
            }
            .left {
                float: left;
            }
            .right {
                float: right;
            }
            .more {
                float: right;
                display: block;
                width: 30px;
                height: 30px;
                background: url('../image/detail.png') no-repeat;
                background-size: 60% auto;
                background-position: 50%;
            }
            .over {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}